.dashboard-container {
    padding: 20px 0;
}

.dashboard-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.dashboard-subtitle {
    font-size: 24px;
    margin: 25px 0 15px;
    font-weight: 600;
}

/* Biểu đồ */
.chart-container {
    margin-top: 40px;
    background: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

/* ===== DASHBOARD ===== */
.dashboard-container {
    padding: 25px 0;
    background: #f4f7fc;
    min-height: 100vh;
}

.dashboard-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

/* ===== TOP STAT CARDS ===== */

.top-stats {

    margin-bottom: 35px;
}

.stat-box {
    padding: 15px;
    border-radius: 5px;
    color: black;
    height: 100%;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}


/* Hover effect */
.stat-number {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    opacity: 0.8;
}

.stat-label {
    font-size: 14px;
    font-weight: 600;
}

.stat-manage {
    font-size: 14px;
    opacity: 0.95;
    margin-top: 8px;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #dddfeb !important;
}

/* ===== COLOR CARDS ===== */
.blue-line {
    border-left: 4px solid #1e90ff;
    color: #1e90ff;
}

.green-line {
    border-left: 4px solid #2ecc71;
    color: #2ecc71;
}

.orange-line {
    border-left: 4px solid #f39c12;
    color: #f39c12;
}

.red-line {
    border-left: 4px solid #e74c3c;
    color: #e74c3c;
}