.list-appointment-container {
    width: 100%;
    padding: 20px;

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .appointment-table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: 12px 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        th {
            background: #f2f2f2;
            font-weight: 600;
        }

        tr:hover {
            background: #fafafa;
            cursor: pointer;
        }

        .status {
            padding: 4px 10px;
            border-radius: 5px;
            font-weight: 500;
        }

        .S1 {
            background: #ffeeba;
            color: #8a6d3b;
        }

        // Chờ xác nhận
        .S2 {
            background: #b8e6b8;
            color: #27632a;
        }

        // Đã xác nhận
        .S3 {
            background: #bee5eb;
            color: #0c5460;
        }

        // Đã khám

        .S4 {

            background: #f5c6cb;
            color: #721c24;
        }

        // Đã hủy

    }
}