 .preview-image-container {
     border-radius: 6px;
     padding: 6px 15px;
     min-width: 160px;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     cursor: pointer;
     transition: all 0.3s ease;

     &:hover {
         background-color: #f8f9fa;
     }

     img.preview-image {
         width: 80%;
         height: 80%;
         object-fit: cover;
     }
 }