.manage-doctor-container {
    padding: 5px;

    .manage-doctor-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: #333;
    }

    .manage-doctor-editor {
        margin: 20px 0;
    }

    .save-content-doctor {
        display: block;
        margin: 0 auto;
        padding: 8px 20px;
        border: none;
        border-radius: 4px;
        background-color: #0071ba;
        color: white;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #005fa3;
        }

        &:active {
            transform: scale(0.97);
        }
    }

    .more-info-doctor {
        display: flex;
        gap: 15px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 60%;

        }
    }

    .more-info-extra {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        row-gap: 15px;
        margin-top: 25px;
        align-items: start; // căn trên cùng cho đồng đều

        .form-group {
            display: flex;
            flex-direction: column;

            label {
                font-weight: 500;
                margin-bottom: 6px;
                color: #333;
            }


            // để tránh label bị đẩy lệch khi focus
            .css-1pahdxg-control {
                border-color: #0071ba !important;
                box-shadow: 0 0 0 1px #0071ba !important;
            }
        }
    }


}