.preview-image-container {
  display: flex;
  justify-content: center;

  .preview-image {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: 0.3s;
  }

  .text-muted {
    width: 300px;
    border-radius: 10px;
    border: 1px solid #007bff;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .preview-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
  }


}

.form-select:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 0.8;
}

.input-error {
  border-color: red !important;
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.5);
}

.error-text {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  margin-left: 2px;
}