.doctor-detail-container {
    border: 1px solid red;
    padding-top: 80px;
    margin: 0 40px;

    .intro-doctor {
        display: flex;
        height: 150px;

        .content-left-doctor {
            width: 20%;
            border: 1px solid green;

            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin: 10px 20px;
            }
        }

        .content-right-doctor {
            width: 80%;
            border: 1px solid grey;
            display: flex;
            flex-direction: column;
            padding: 0 10px;

            .content-up {
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }

            .content-down {
                padding-top: 10px;

            }
        }
    }
}