.doctor-detail-container {
    padding-top: 80px;

    .intro-doctor {
        display: flex;
        height: 150px;
        margin: 0 40px;

        .content-left-doctor {
            width: 20%;

            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin: 10px 20px;
            }
        }

        .content-right-doctor {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding: 0 10px;

            .content-up {
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }

            .content-down {
                padding-top: 10px;

            }
        }
    }

    .schedule-doctor {
        display: flex;
        margin: 0 50px;
        min-height: 200px;

        .content-left-schedule {
            width: 50%;
        }

        .content-right-schedule {
            width: 50%;
        }
    }

    .detail-info-doctor {
        border-top: 1px solid #ccc;
        padding: 10px 100px;
        background-color: #f9f9f9;
    }

    .faq-section {
        background-color: #00796b;
        color: #fff;
        padding: 20px 0;
        font-size: 16px;
        font-weight: 500;
        margin-top: 30px;

        .content-ques {
            margin-left: 15px;

            span {
                margin-right: 8px;
            }

            .faq-link {
                color: #ffeb3b;
                font-weight: 500;
                text-decoration: none;
                transition: color 0.2s;

                &:hover {
                    color: #fff176;
                    text-decoration: underline;
                }
            }
        }

    }

}