.section-share.section-clinic {
    background-color: #f5f5f5;
    padding: 30px 0;
    height: 500px;

    .section-container {
        margin: 0 40px;

        .section-header {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title-section {
                font-weight: 700;
                font-size: 26px;
                color: #333;
            }

            .btn-section {
                background: #daf3f6;
                color: #34929e;
                font-weight: 600;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
                font-size: 18px;
                transition: 0.3s;

                &:hover {
                    background: #c2ebf0;
                }
            }
        }

        .section-body {
            .image-customize {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                background: #fff;
                border: 1px solid #ddd;
                border-radius: 10px;
                padding: 20px;
                height: 340px !important;
                width: 95% !important;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
                transition: transform 0.3s ease;
                cursor: pointer;

                &:hover {
                    transform: translateY(-5px);
                }

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: contain; // Giữ nguyên tỉ lệ hình
                    border-radius: 8px;
                }

                .title-img {
                    margin-top: 15px;
                    font-size: 18px;
                    font-weight: 700;
                    color: #333;
                    text-align: center;
                    line-height: 1.4;
                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        background: #fff;
        border: 1px solid #ccc;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        z-index: 10;
        transition: all 0.2s;

        &:hover {
            background: #e9f6f8;
        }

        &:before {
            color: #333;
            font-size: 20px;
        }
    }
}