// .section-specialty {
//     height: 330px;
//     border: 1px solid red;


//     .secialty-container {
//         margin: 0 50px;
//         display: flex;
//         flex-direction: column;



//         .slick-slide {}

//         .image-customize {
//             border: 1px solid #ddd; // viền bao quanh mỗi carousel
//             border-radius: 8px; // bo góc cho giống ảnh mẫu
//             padding: 15px; // tạo khoảng cách bên trong
//             background: #fff; // nền trắng cho box
//             margin: 0 8px; // khoảng cách giữa các item
//             text-align: center;

//             img {
//                 width: 90%;
//                 height: 100%;
//                 object-fit: cover;
//                 margin: 0 auto;
//             }


//         }

//         .title-img {
//             width: 100%;
//             height: 100%;
//             text-align: center;
//         }

//         .specialty-header {
//             height: 60px;
//         }

//         .specialty-body {}

//     }

//     .slick-prev,
//     .slick-next {
//         background: #fff;
//         border: 1px solid #ddd;
//         width: 40px;
//         height: 40px;
//         border-radius: 10%;
//         z-index: 10;
//     }

//     .slick-prev:before,
//     .slick-next:before {
//         color: #333;
//         font-size: 20px;
//     }
// }


.section-specialty {
    height: 350px;

    .specialty-container {
        margin: 0 40px;
        border: 1px solid black;

        .specialty-header {
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;

            .title-section {
                font-weight: 600;
                font-size: 25px;
            }

            .btn-section {
                background: #DAF3F6;
                color: #34929E;
                font-weight: 600;
                border: none; // bỏ border mặc định
                border-radius: 20px; // bo tròn
                padding: 10px 20px; // padding thoáng
                font-size: 20px;
                transition: all 0.3s ease; // hiệu ứng chuyển

                &:hover {
                    background: #c2ebf0;
                }
            }
        }

        .specialty-body {

            .image-customize {
                width: 98% !important;
                border: 2px solid #ddd; // viền bao quanh mỗi carousel
                border-radius: 5%; // bo góc cho giống ảnh mẫu
                background: #fff; // nền trắng cho box
                text-align: center;
                height: 320px !important;
                align-items: center;

                img {
                    height: 90%;
                    width: 90%;
                    top: 10;
                    margin: 0 auto;
                    object-fit: cover;
                }

                .title-img {
                    font-size: 16px;
                    font-weight: 500;
                    color: #333;
                }
            }
        }

        // // Ẩn border cũ
        // .slick-slide {
        //     border: none !important;
        // }

    }

    .slick-prev,
    .slick-next {
        background: #fff;
        border: 1px solid #ddd;
        width: 50px;
        height: 50px;
        border-radius: 10%;
        z-index: 10;
    }

    .slick-prev:before,
    .slick-next:before {
        color: #333;
        font-size: 20px;
    }
}