    .commercial-wrapper {
        width: 85%;
        margin: 20px auto;

        .main-slider {
            border-radius: 18px;
            overflow: hidden;
            margin-bottom: 15px;

            .main-slide img {
                width: 100%;
                height: 420px;
                object-fit: cover;
                border-radius: 18px;
            }
        }

        .thumb-slider {
            margin: 0 auto;
            padding: 5px 0;
            width: 80%;

            .thumb-slide {
                padding: 3px;
                cursor: pointer;
                opacity: 0.6;
                transition: 0.3s;

                img {
                    width: 100%;
                    height: 80px;
                    object-fit: cover;
                    border-radius: 10px;
                    border: 2px solid transparent;
                }
            }

            .slick-current .thumb-slide {
                opacity: 1;

                img {
                    border-color: #1aa3ff;
                }
            }
        }
    }