    .home-header-container {
        height: 80px;
        width: 99%;
        padding: 0 2%;
        z-index: 100;
        position: fixed;
        background-color: white;
        border-bottom: 1px solid #ccc;

        .home-header-content {
            width: 100%;
            height: 100%;
            display: flex;

            .left-content {
                width: 25%;
                display: flex;
                align-items: center;

                img {
                    width: 58%;
                    cursor: pointer;

                }

                i {
                    font-size: 25px;
                    color: gray;
                    margin-right: 20px;
                    cursor: pointer;
                }
            }

            .center-content {
                width: 50%;
                display: flex;
                align-items: center;

                .child-content {
                    font-size: large;
                    margin-left: 5%;
                    cursor: pointer;
                }
            }

            .right-content {
                width: 25%;
                align-items: center;
                justify-content: flex-end;
                display: flex;
                padding-right: 10px;

                .support {
                    padding-right: 50px;
                    display: flex;
                    align-items: center;
                }

                .language-vi {
                    cursor: pointer;

                    &:hover {
                        opacity: 0.2;
                    }

                }

                .language-en {
                    cursor: pointer;

                    &:hover {
                        opacity: 0.2;
                    }


                }
            }
        }
    }

    .home-header-banner {
        background: url('../../assets/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        padding-top: 80px;
        // display: flex;
        // flex-direction: column;

        .content-up {
            background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));

            height: 70%;
            display: flex;
            flex-direction: column;
            /* ngang */
            justify-content: flex-start;
            /* dọc */
            gap: 16px;
            /* khoảng cách giữa title và search */

            .title1 {
                text-align: center;
                font-size: 30px;
                font-weight: 600;
                text-shadow: 2px 2px 2px #333;
                color: white;
            }


            .search {
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                border-radius: 25px;
                border: 1px solid black;
                width: fit-content;
                background-color: white;
                padding: 10px;

                input {
                    width: 270px;
                    border: none;
                    background: transparent;
                    outline: none;
                }
            }

        }

        .content-down {
            height: 30%;
            justify-content: center;
            display: flex;
            align-items: flex-end;
            padding-bottom: 30px;
            background-image: linear-gradient(rgba(255, 255, 255, 0.1),
                    rgba(255, 255, 255, 0.9),
                    rgba(255, 255, 255, 1));
            ;

            .options {
                display: flex;
                cursor: pointer;
                gap: 50px;

                .option-child {
                    width: 120px;
                    text-align: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    .icon-child {
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        text-align: center;
                        align-items: center;
                        display: flex;
                        background-color: white;

                        img {
                            width: 40px;
                            margin: 0 auto;
                        }
                    }

                    .text-child {
                        margin-top: 10px;
                        font-size: 16px;
                        font-weight: 600;

                        &:hover {
                            color: rgba(1, 79, 203, 0.737);
                        }
                    }
                }
            }

        }

    }